html,
body {
	margin: 0;
	padding: 0;
	background-image: url("/img/table.png");
	font-family: "Exo 2", sans-serif;
	height: 100vh;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

button {
	background-color: #fff100;
	cursor: pointer;
	border: none;
}

button#new-deck {
	align-self: flex-start;
	padding: 5px;
}

button.draw {
	font-size: 1.2em;
	padding: 5px;
}

.cards {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.card-placeholder {
	width: 150px;
	height: 210px;
	border: 2px solid black;
	border-radius: 5px;
}
